---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$highlight-font-family: 'Economica', sans-serif;

$trekstock:        #25e3de;
$heart-foundation:  #bf1a04;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
        -webkit-#{$property}: $value;
    } @else if $prefix == moz {
        -moz-#{$property}: $value;
    } @else if $prefix == ms {
        -ms-#{$property}: $value;
    } @else if $prefix == o {
        -o-#{$property}: $value;
    } @else if $prefix == spec {
        #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin transform($property: none) {
  @include prefixer(transform, $property, webkit moz ms o spec);
}

@mixin backface-visibility($visibility) {
  @include prefixer(backface-visibility, $visibility, webkit spec);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "masthead",
        "charities",
        "events",
        "contact",
        "header",
        "post",
        "syntax-highlighting"
;
