<div class="charities trekstock">
  <div class="charities-description">
    <p><strong>The Challenge:</strong> To run 26.2 marathons by age 26.2, whilst raising money for charity.</p>

    <p><strong>The Rules:</strong> Every marathon must be an organised event, and will only count once towards the 26.2.
    The 0.2 marathon will be a relay event, and the 0.2 birthday is the 2nd day of being 26: 21 April, 2019.</p>

    <p><strong>The Charity:</strong> Trekstock provide support to young people in their 20's & 30's dealing with cancer. They provide information, organise exercise events and connect people going through similar experiences. Please support their work by donating below.</p>
  </div>
  <div class="donate">
    <img class="donate-logo" alt="Trekstock logo" src="images/trekstock-logo.png"/>

    <div class="donate-raised">
      <span class="trekstock-raised">£877.50</span>
      <p class="donate-raised-text">raised to date by <span class="trekstock-supporters">33</span> amazing supporters</p>
    </div>

    <a class="btn btn-donate" href="http://uk.virginmoneygiving.com/26marathons">
      Give your support
    </a>
  </div>
</div>