<div class="charities trekstock">
  <p class="charities-description">Kitsch cold-pressed cronut, pitchfork vexillologist occupy master cleanse taxidermy blue bottle bespoke vinyl gentrify cred tbh lyft. Direct trade meditation cred XOXO umami man bun bushwick, disrupt williamsburg tousled offal irony unicorn lumbersexual.</p>

  <div class="donate">
    <img class="donate-logo" alt="Trekstock logo" src="images/trekstock-logo.png"/>

    <div class="donate-raised">
      <span class="trekstock-raised"></span>
      <p>raised to date by <span class="trekstock-supporters"></span> amazing supporters</p>
    </div>

    <a class="btn btn-donate" href="http://uk.virginmoneygiving.com/26marathons">
      Give your support
    </a>
  </div>
</div>
<div class="charities heart-foundation">
  <p class="charities-description">Kitsch cold-pressed cronut, pitchfork vexillologist occupy master cleanse taxidermy blue bottle bespoke vinyl gentrify cred tbh lyft. Direct trade meditation cred XOXO umami man bun bushwick, disrupt williamsburg tousled offal irony unicorn lumbersexual.</p>

  <div class="donate">
    <img class="donate-logo" alt="Heart Foundation Australia logo" src="images/heart-foundation-logo.png"/>

    <div class="donate-raised">
      <span class="heart-foundation-raised"></span>
      <p>raised to date by <span class="heart-foundation-supporters"></span> amazing supporters</p>
    </div>

    <a class="btn btn-donate" href="https://give.everydayhero.com/au/26marathons">
      Give your support
    </a>
  </div>
</div>