<div class="contact">
  <div class="contact-links">
    <a class="contact-logo facebook" href="https://www.facebook.com/julia.mitchelmore" target="_blank">
    </a>
    <a class="contact-logo twitter" href="https://twitter.com/jemitchelmore" target="_blank">
    </a>
    <a class="contact-logo instagram" href="https://www.instagram.com/julia.runs/" target="_blank">
    </a>
    <a class="contact-logo email" href="mailto:julia.runs.26marathons@gmail.com" target="_blank">
    </a>
  </div>
</div>
