<div class="contact">
  <h2>Want to get involved?</h2>

  <p>Everyone is welcome to join in the challenge. Whether you have marathon costume suggestions, can provide clothing/shoes/travel, are interested in writing about the challenge in a publication - or just want to run one of the marathons, please email <a href="mailto:julia.runs.26marathons@gmail.com">julia.runs.26marathons@gmail.com</a> or click one of the buttons below.</p>

  <div class="contact-links">
    <a class="contact-logo facebook" href="https://www.facebook.com/julia.mitchelmore" target="_blank">
    </a>
    <a class="contact-logo twitter" href="https://twitter.com/jemitchelmore" target="_blank">
    </a>
    <a class="contact-logo instagram" href="https://www.instagram.com/julia.runs.26marathons/" target="_blank">
    </a>
    <a class="contact-logo email" href="mailto:julia.runs.26marathons@gmail.com" target="_blank">
    </a>
  </div>
</div>
