<div class="contact">
  <h2>Want to get involved?</h2>

  <p>then please get in touch! Everyone is welcome to join in the challenge. Whether you have marathon costume suggestions, can provide clothing/shoes/travel, are interested in writing about the challenge in a publication - or just want to join me during one of the marathons, please email me on <a href="mailto:julia.runs.26marathons@gmail.com">julia.runs.26marathons@gmail.com</a> or by clicking one of the buttons below! - Julia :)</p>

  <div class="contact-links">
    <a class="contact-logo facebook" href="https://www.facebook.com/julia.mitchelmore">
    </a>
    <a class="contact-logo twitter" href="https://twitter.com/mitchelmore_j">
    </a>
    <a class="contact-logo instagram" href="https://www.instagram.com/julia.runs.26marathons/">
    </a>
    <a class="contact-logo email" href="mailto:julia.runs.26marathons@gmail.com">
    </a>
  </div>
</div>
