{% assign sortedposts = (site.posts | sort: 'date') %}

<div class="events">
  <h2 class="events-title">The Marathons</h2>
  <span class="events-instruction">Click to read the race report</span>
  <div class="events-list">
    {% for post in sortedposts %}
      {% if post.category == "completed" %}
        <a href={{ post.url | remove_first: '.html' | prepend: site.github.url }}>
          <p class="events-item past" style="color: {{ post.color }}">
            <span class="index">{{ forloop.index }}.</span>
            <span class="name">{{ post.name }}</span>
            <span class="detail">{{ post.time }}</span>
          </p>
        </a>
      {% endif %}
      {% if post.category == "entered" %}
        <p class="events-item future">
          <span class="index">{{ forloop.index }}.</span>
          <span class="name">{{ post.name }}</span>
          <span class="detail">{{ post.date | date: "%d.%m.%Y" }}</span>
        </p>
      {% endif %}
      {% if post.category == "wishlist" %}
        <p class="events-item">
          {% if forloop.last %}
          <span class="index">26.2.</span> {% else %}
          <span class="index">{{ forloop.index }}.</span> {% endif %}
          <span class="name">{{ post.name }}</span>
          <span class="detail">(wishlist)</span>
        </p>
      {% endif %}
    {% endfor %}
  </div>
</div>