.charities {
  min-height: 100vh;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &.trekstock {
    background-color: $trekstock;
  }

  &.heart-foundation {
    background-color: $heart-foundation;

    & .charities-description {
      color: white;
    }
  }

  &-description {
    max-width: $on-laptop;
    font-size: calc(2.2vw + 1vh + 0.5vmin);
    margin: 1em;

    @include media-query($on-laptop) {
      margin: 0 auto 2em;
      font-size: 1.25em;
    }

    p {
      margin-bottom: 10px;

      @include media-query($on-laptop) {
      margin-bottom: 1em;

        strong {
          display: block;
        }
      }
    }
  }

  .donate {
    width: 90%;
    background: white;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;

    @include media-query($on-laptop) {
      width: 80%;
      padding: 15px 20px 15px 0;
      margin: 0;
    }

    @include media-query($on-laptop) {
      flex-wrap: nowrap;
    }

    &-logo {
      max-width: 40%;
      max-height: 100px;
      padding: 0 10px;

      @include media-query($on-laptop) {
        font-size: 3em;
        max-width: none;
        max-height: 120px;
      }
    }

    &-raised {
      text-align: center;
      margin: 0 10px;
      flex-basis: 50%;

      @include media-query($on-laptop) {
        flex-basis: auto;
      }

      &-text {
        font-size: 0.85em;

        @include media-query($on-laptop) {
          font-size: 1em;
        }
      }
    }
  }

  .trekstock-raised, .heart-foundation-raised {
    font-size: 1.5em;
    font-weight: bold;

    @include media-query($on-laptop) {
      font-size: 2.5em;
    }
  }
}

.btn-donate {
  background: black;
  color: white;
  margin-top: 5px;
  width: 100%;
  text-align: center;

  @include media-query($on-laptop) {
    margin: 0;
    width: auto;
  }
}