.events {
  height: 100vh;
  background: $grey-color-light;
  text-align: justify;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;

  &-list{
    color: $grey-color;
    font-family: sans-serif;
    word-break: break-all;
    word-wrap: break-word;
    text-decoration: none;
    font-size: calc(2vw + 2vh + 1.1vmin);

    @include media-query ($on-laptop) {
      font-size: calc(2vw + 2vh + 1.25vmin);
      padding: 0 10px;
    }
    
    span, a {
      &:after {
        content: " ";
      }
    }    
  }

  &-title {
    font-weight: bold;
    color: $text-color;
  }

  .past, .future {
    color: $text-color;
    
    @include media-query($on-laptop) {
      &:hover {
        word-break: normal;
        word-wrap: normal;
        
        .hover {
          display: inline-block;
        }
      }
    }

  }

  .past {
    font-weight: bold;
  }

  .hover {
    display: none;
    font-size: 1em;
    color: currentColor;
  }

  &-key {
    position: absolute;
    bottom: 10px;
    right: 10px;

    @include media-query($on-laptop) {
      font-size: 1.25em;
    }

    .wishlist {
      color: $grey-color;
    }
  }
}
