.events {
  height: 100vh;
  background: $grey-color-light;
  text-align: justify;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;

  &-list{
    color: $grey-color;
    font-family: sans-serif;
    word-break: break-all;
    word-wrap: break-word;
    text-decoration: none;
    font-size: calc(2vw + 2vh + 1.1vmin);

    @include media-query ($on-laptop) {
      font-size: calc(2vw + 2vh + 1.25vmin);
    }
    
    span, a {
      &:after {
        content: " ";
      }
    }    
  }

  .past, .future {
    color: $text-color;
    
    &:hover {
      word-break: normal;
      word-wrap: normal;
      
      .hover {
        display: inline-block;
      }
      
      &.sydney {
        color: #008C99;
      }
      &.dublin {
        color: #004687;
      }
    }
  }

  .past {
    font-weight: bold;
  }

  .hover {
    display: none;
    font-size: 1em;
    color: currentColor;
  }

  &-key {
    position: absolute;
    bottom: 10px;
    right: 10px;

    @include media-query($on-laptop) {
      font-size: 1.25em;
    }

    .wishlist {
      color: $grey-color;
    }
  }
}





/* post list on homepage */

/* .postlist {
  width: 100%;
  display: block;
  padding: 1em 1.5em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-query($on-palm) {
    padding: 1em;
  }

  &:hover, &:visited {
    color: white;
  }

  &-number, &-arrow {
    font-size: 2em;
    font-family: $highlight-font-family;
    flex-basis: 10%;

    @include media-query($on-palm) {
      flex-basis: 15%;
    }
  }

  &-arrow {
    text-align: right;
  }

  &-section {
    flex-basis: 40%;

    @include media-query($on-palm) {
      flex-basis: 70%;
    }
  }

  &-date {
    display: block;
    font-size: 1.125em;

    @include media-query($on-palm) {
      font-size: 1em;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 1.5em;

    @include media-query($on-palm) {
      font-size: 1.2em;
    }
  }

  &-time, &-mood {
    font-weight: 600;
  }

  &-details {
    margin-bottom: 0;
  }
} */