.masthead {
  width: 100%;
  background: url('../images/26marathons-background.jpg') no-repeat #898B91;
  background-size: cover;
  background-position: 50% 100%;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  overflow: hidden;

  &-text {
    padding: 4em 2em;

    @include media-query($on-laptop) {
      padding: 3em 2em;
    }
  }

  &-title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    line-height: 1;

    @include media-query($on-laptop) {
      align-items: center;
    }
  
    h1 {
      display: flex;
      font-size: 2.5em;
      font-weight: bold;
      line-height: 1.2;
      text-shadow: 2px 2px rgba(8,71,173,0.5);

      @include media-query($on-laptop) {
        font-size: 5em;
      }

      span {
        font-weight: normal;
      }
    }
  }

  .fadeIn {
    @include media-query($on-laptop) {
      opacity: 0;
      animation: fadeIn 2s ease;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .tagline {
    text-transform: uppercase;
    font-size: 1.25em;
    text-shadow: 2px 2px rgba(8,71,173,0.5);
  }

  // progress bar, with animation
  .masthead-progress {
    width: 100%;
    position: relative;

    .progress-bar-full, .progress-bar-togo {
      height: 30px;

      span {
        position: absolute;
        top: 3px;
        white-space: nowrap;
        font-weight: bold;
      }
    }

    .progress-bar-full span {
      right: 5px;
      top: -25px;
    }

    .progress-bar-togo span {
      right: 10px;
      animation: slideIn 1s ease;
      animation-fill-mode: backwards;
      animation-delay: 1.5s;
    }

    .progress-bar-togo {
      width: calc(100% * (25.2 / 26.2));
      background: #0847ad;
      position: absolute;
      bottom: 0;
      animation: fillIn 1s ease;
      animation-fill-mode: backwards;
      animation-delay: 1s;

      &:after {
        content: "";
        height: 100%;
        width: 5px;
        position: absolute;
        right: 0;
        background: white;
      }
    }

    .progress-bar-full {
      width: 100%;
      background: lighten(#0847ad, 10%);
      animation: fillIn 1s ease;
      animation-fill-mode: backwards;
      animation-delay: 2s;
      position: relative;
    }
  }
}

@keyframes typing {
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fillIn {
  from {
    width: 0;
  }
}

@keyframes slideIn {
  from {
    right: 5px;
  }
}