/* body[data-hijacking="on"] {
  background-color: #7E828D;
  transition: background-color 1.5s ease-in-out;

  &::before {
    content: 'mobile';
    display: none;
  }

  @include media-query($on-laptop) {
    
    &::before {
      content: 'desktop';
    }
  }

  @include media-query($on-laptop) {
    overflow: hidden;
  }
} */

.cd-section {
  //min-height: 100vh;

  > div {
    border-top: 10px solid white;
    border-bottom: 10px solid white;

    @include media-query($on-laptop) {
      padding: 0;
      border: 15px solid white;
    }
  }

/*   @include media-query($on-laptop) {
    [data-hijacking="on"] & {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      > div {
        visibility: visible;
      }
    }
  } */
}
/* 
@include media-query($on-laptop) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}

.cd-section > div {

  @include media-query($on-laptop) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
  }
}
 */