/* post page */

.post {
  padding: 1em 1em 0;

  @include media-query($on-laptop) {
    padding: 1em 1.5em 0;
  }

  &-header {
    text-align: center;
  }

  &-title {
    font-family: $highlight-font-family;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0;
  }

  &-date {
    margin: -5px 0 5px;
  }

  &-time {
    font-weight: 600;
  }

  &-content {
    max-width: $on-laptop;
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
    }

    img + em {
      font-size: 0.75em;
      color: #666;
      text-align: center;
      display: block;
      margin-top: 5px;
    }
    
    /* for post images */
    .center-half {
      @include media-query($on-laptop) {
        width: 50%;
      }
    }

    .center-padded {
      width: 100%;

      @include media-query($on-laptop) {
        width: 90%;
      }
    }

    .center-double {
      margin-bottom: 20px;

      @include media-query($on-laptop) {
        display: inline-block;
        width: 45%;
        margin: 0 2.5%;
      }
    }
  }

  /* pagination */
  &-pagination {
    margin: 2em 10px 1em;
    padding-bottom: 1em;

    @include media-query($on-laptop) {
      max-width: $on-laptop;
      margin: 1em auto;
    }

    a {
      display: block;
      color: #898B91;
      font-style: italic;
      font-size: 0.875em;
      display: inline;

      &:hover, &:visited {
        color: #898B91;
      }
    }
  }

  &-prev {
    float: left;
  }

  &-next {
    float: right;
  }
}

